.inner-content {
    flex: 1;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.add-admin {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 10rem;
    background-color: #242424;
    border-right: 0.2rem;
    color: #E4C102;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    border: none;
    font-size: 1rem;
}

.add-admin:hover {
    background-color: #181818;
}

.add-admin img {
    width: 2rem;
    padding: 0.1rem;
    transform: rotateZ(45deg);
}

.admins {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1.5rem;
    overflow-y: scroll;
}

.admin {
    display: flex;
    flex-direction: row;
    background-color: #F9F7F0;
    border: 2px solid #E4C102;
    border-radius: 1rem;
    margin: 0.5rem 0;
}

.admin-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem 2rem;
    flex-wrap: wrap;
}

.admin-body h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    padding-right: 4rem;
}

.admin-action {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.admin-delete {
    outline: none;
    border: none;
    background: none;
    padding: 0 0.5rem;
    border-left: 2px solid #E4C102;
}

.admin-delete img {
    width: 4rem;
}

#admin-template {
    display: none;
}

.modal-add-admin {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-add-admin .modal {
    background-color: white;
    padding: 2rem;
    width: 30vw;
    min-width: 25rem;
    border-radius: 1rem;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.modal-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-warning {
    display: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    margin-right: 2rem;
    font-size: 1.1rem;
}

.input-group input {
    flex: 1;
    padding: 0.25rem;
    border: 1px solid #E4C102;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

.modal-footer {
    margin-top: 2.5rem;
}

.modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal-actions button {
    padding: 0.3rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 2px solid;
    font-weight: bold;
    background-color: white;
    font-size: 1.15rem;
}

.admin-save {
    color: #038600;
    border-color: #038600;
}

.admin-cancel {
    color: #C30000;
    border-color: #C30000;
}
