.inner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner-preview {
    max-width: 100%;
    max-height: 50vh;
    margin: 5vh 5vh 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#delete-banner {
    outline: none;
    background-color: white;
    border: 2px solid #C30000;
    color: #C30000;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-in-out;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

#delete-banner:hover {
    background-color: #F9F7F0;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    border-top: 2px solid #E4C102;
    min-height: 120px;
    height: 30%;
    max-width: 100%;
}

.banner {
    margin: 0 1rem;
}

.banner img {
    max-height: 15vh;
    border-radius: 0.5rem;
}

.banner.selected {
    transform: scale(1.1, 1.1);
}

.banner.selected img {
    border: 3px solid #E4C102;
}

#create-banner {
    height: 15vh;
    width: 25vh;
    min-width: 25vh;
    border: 4px dashed #c4c4c4;
    border-radius: 1rem;
    background-image: url("/img/add-banner.svg");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color 0.25s ease-in-out;
}

#create-banner:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#banner-template {
    display: none;
}