.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #E4C102;
}

.header-menu {
    flex-shrink: 0;
    margin: 0 1rem;
    padding: 2rem 1rem;
    cursor: pointer;
}

.header-menu div {
    display: block;
    position: relative;
    width: 4.8vh;
    height: 0.25vh;
    border-radius: 0.125vh;
    background-color: #242424;
}

.header-menu div::before {
    position: absolute;
    content: "";
    left: 0;
    top: -0.8rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.25vh;
    background-color: #242424;
}

.header-menu div::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0.8rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.25vh;
    background-color: #242424;
}

.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    padding-left: 2rem;
}

.header-logo {
    display: block;
    background-image: url("/img/logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 12vh;
    height: 8vh;
    margin: 1rem 2rem 1rem auto;
}

.navbar {
    position: absolute;
    height: 100vh;
    top: 0;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    width: 30vw;
    min-width: 20rem;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.navbar-close {
    width: 6vh;
    height: 6vh;
    background-color: inherit;
    margin: 2rem;
    position: relative;
    cursor: pointer;
}

.navbar-close::before {
    position: absolute;
    content: "";
    transform: rotateZ(45deg);
    display: block;
    left: 0.5vh;
    top: 3vh;
    width: 5vh;
    height: 0.25vh;
    border-radius: 0.25vh;
    background-color: #242424;
}

.navbar-close::after {
    position: absolute;
    content: "";
    transform: rotateZ(-45deg);
    display: block;
    left: 0.5vh;
    top: 3vh;
    width: 5vh;
    height: 0.25vh;
    border-radius: 0.25vh;
    background-color: #242424;
}

.navbar-menus {
    overflow-y: auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #242424;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.navbar-nav:hover {
    background-color: #181818;
}

.navbar-nav.active {
    background-color: #181818;
}

.navbar-nav img {
    margin: 1rem 2vw;
    width: 5vh;
}

.navbar-nav span {
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: #E4C102;
    font-weight: normal;
    font-size: 1.2rem;
}

.navbar-nav.active span {
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.navbar-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #242424;
    transition: background-color 0.2s ease-in-out;
    margin-top: auto;
    cursor: pointer;
}

.navbar-end:hover {
    background-color: #181818;
}

.navbar-end img {
    margin: 1rem 2vw;
    width: 5vh;
}

.navbar-end span {
    flex: 1;
    font-family: 'Raleway', sans-serif;
    color: #E4C102;
    font-weight: normal;
    font-size: 1.2rem;
}