.inner-content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 10vw;
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.product-image-container {
    position: relative;
}

.product-image {
    border: 1px solid #c4c4c4;
    border-radius: 1rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    width: 40vh;
    height: 30vh;
    object-fit: cover;
    cursor: pointer;
}

.product-image-action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    height: 2rem;
    top: calc(30vh - 2rem);
    width: calc(100% - 3rem);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05rem;
    border-radius: 0 0 1rem 1rem;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.product-info {
    flex: 1;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.input-group label {
    flex-shrink: 0;
    width: 11rem;
    font-size: 1.2rem;
}

.input-group input {
    font-size: 1.2rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid #E4C102;
    width: 100%;
}

.input-group-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.checkbox-group label {
    width: auto;
}

.checkbox-group img {
    width: 3rem;
    height: 3rem;
}

.checkbox {
    width: 1.8rem !important;
    height: 1.8rem !important;
    appearance: none;
    background-color: #fff;
    position: relative;
}

.checkbox:checked::after {
    position: absolute;
    content: "";
    background-color: #242424;
    width: 1.8rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    transform: translateX(0.45rem) translateY(0.4rem) rotateZ(-45deg);
    left: 0;
    top: 0;
}

.checkbox:checked::before {
    position: absolute;
    content: "";
    background-color: #242424;
    width: 0.9rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    transform: translateY(0.83rem) rotateZ(45deg);
    left: 0;
    top: 0;
}

#category {
    font-size: 1.2rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid #E4C102;
    width: 100%;
}

.description-content {
    flex: 1;
}

.description-content label {
    font-size: 1.2rem;
}

.description-content textarea {
    width: 100%;
    height: 80%;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid #E4C102;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.8rem;
    resize: vertical;
}

#price {
    border-radius: 0 0.5rem 0.5rem 0;
}

.price-prefix {
    font-size: 1.2rem;
    outline: none;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #E4C102;
    border-right: none;
    padding: 0.3rem 0.6rem;
    background-color: #E4C102;
    color: #242424;
}

.price-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0;
}

.action-button {
    padding: 0.3rem;
    width: 10rem;
    background-color: #fff;
    border-radius: 0.5rem;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 2rem;
    border: 2px solid;
}

.save {
    border-color: #038600;
    color: #038600;
}

.cancel {
    border-color: #C30000;
    color: #C30000;
}

.overlay {
    position: absolute;
    z-index: 50;
    left: -10vw;
    right: -10vw;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 10vh;
}