@media (max-width: 900px) {
    .inner-content {
        flex-direction: column;
    }

    canvas {
        margin-bottom: 2rem;
    }

    .action-layout {
        flex-direction: row;
    }

    .new-table-layout {
        margin-right: 1rem;
    }

    .table-details-layout {
        margin-right: 1rem;
    }
}

@media (min-width: 901px) {
    .inner-content {
        flex-direction: row;
    }

    canvas {
        margin-right: 2rem;
    }

    .action-layout {
        flex-direction: column;
    }

    .new-table-layout {
        margin-bottom: 1rem;
    }

    .table-details-layout {
        margin-bottom: 1rem;
    }
}

.inner-content{
    overflow: hidden;
    padding: 2rem;
    height: 85vh;
    display: flex;
}

canvas {
    flex: 7;
    border: 2px solid #E4C102;
    border-radius: 10px;
}

.action-layout{
    flex: 3;
    display: flex;
}

.new-table-layout{
    flex: 4;
    border: dashed 7px #D6D6D6;
    text-align: center;
    display : flex;
    flex-direction: column;
    position: relative;
}
.new-table-label{
    font-size: 1.4rem;
    flex: 1;
}

.new-table{
    flex: 2;
    display: flex;
    justify-content: center;
}
.new-table div{
    padding: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: #E4C102;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 5px;
}

.new-table-info-label{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.table-details-layout{
    flex : 5;
    border: 2px solid #E4C102;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.table-details-label{
    flex: 3;
    font-size: 1.4rem;
}

.table-details-table-number{
    flex : 3;
    font-size: 1.4rem;
    justify-content: space-between;
    display : flex;
}

.delete-btn {
    flex : 1;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid #C30000;
    font-size: 1.4rem;
    color: #C30000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.approve-btn {
    flex : 1;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #038600;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #038600;
    font-weight: bold;
}

.overlay{
    display: none;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.box{
    width: 30%;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E4C102;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.label{
    font-size: 1.4rem;
}

.ok-btn{
    padding: 1rem 4rem;
    border-radius: 10px;
    border: 2px solid #E4C102;
    color: #E4C102;
    background-color: white;
}

.spinner {
    background-image: url("/img/loading.gif");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 100%;
  }
