.inner-content {
    background-image: url("/img/loading.gif");
    height: 15vh;
    width: 15vw;
    margin: auto auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.content {
    background-image: url("/img/loginbg.jpg");
    background-size: cover;
    background-position: center center;
}