.inner-content{
    margin: 2rem;
    height: 85vh;
    position: relative;
}
canvas{
    height: 70vh;
    width: 100%;
    border: 2px solid #E4C102;
    border-radius: 10px;
}
.edit-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1rem 2rem;
    border : 2px solid #E4C102;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #242424;
}