.inner-content{
    display: flex;
    padding: 2rem 2rem;
}

.canvas{
    flex-grow: 6;
    width: 60%;
    margin-right: 0.5rem;
    border: 2px solid #E4C102;
    border-radius: 10px;
    min-height: 80vh;
}

.request-page{
    display: flex;
    position: relative;
    padding: 2rem;
    flex-direction: column;
    flex-grow: 4;
    width: 40%;
    margin-left: 0.5rem;
    border: 2px solid #E4C102;
    border-radius: 10px;
    min-height: 80vh;
}

.schedule {
    display: flex;
    margin-bottom: 1rem;
}
  
.date {
    font-size: 1.2rem;
    width: 100%;
    padding-right: 1rem;
    border: none;
    flex: 3 3 3;
}
.date input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
  
.time {
    font-size: 1.2rem;
    flex: 2 2 2;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
  
.time select {
    padding: 0.5rem 1rem;
  
    height: max-content;
    border-radius: 10px;
    margin: 0;
}
.label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.table-details p{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.reserve-btn{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    border: 2px solid #C30000;
    text-align: center;
    bottom: 0;
    margin-bottom: 1rem;
    color: #C30000;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.reserve-btn:hover{
    background-color: #C30000;
    color: white;
}

.ok-btn{
    padding: 1rem 4rem;
    border-radius: 10px;
    border: 2px solid #E4C102;
    color: #E4C102;
    background-color: white;
}

.box{
    width: 30%;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E4C102;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

.overlay{
    display: none;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
