.inner-content {
    flex: 1;
    padding: 2rem;
}

.orders {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}

.order {
    margin: 1rem;
    border: 2px solid #E4C102;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #F9F7F0;
}

.order-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    text-align: center;
}

.order-table-number {
    font-size: 2.6rem;
}

.order-body {
    flex: 1;
    border-left: 2px solid #E4C102;
    border-right: 2px solid #E4C102;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.order-body div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-body div:nth-child(1) {
    padding-right: 2rem;
}

.order-body div:nth-child(2) {
    padding-right: 0.7rem;
}

.order-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-info {
    outline: none;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: none;
    padding: 0.6rem;
}

.order-info img {
    width: 100%;
    height: 100%;
}

#order-template {
    display: none;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.order-detail .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.order-detail .modal {
    background-color: white;
    border: 2px solid #E4C102;
    border-radius: 1rem;
    margin: 4rem 2rem;
    min-width: 20rem;
    width: 80vw;
    min-height: 30rem;
    height: 70vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.order-detail .modal-header {
    border-bottom: 2px solid #E4C102;
    height: 15%;
}

.order-detail-summary {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    font-size: 1.2rem;
}

.order-detail-summary div:nth-child(1) {
    padding: 0 1rem;
}

.order-detail-summary div:nth-child(2) {
    padding: 0 1rem;
}

.order-detail-summary div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-detail-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.order-detail-table span {
    font-size: 0.9rem;
    text-align: center;
}

.order-detail-tablenum {
    font-size: 3rem !important;
}

.modal-body {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 0;
}

.modal-content {
    flex: 4;
    border: 2px solid #E4C102;
    min-width: 20rem;
    margin: -2px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% + 4px);
}

.modal-sidebar {
    flex: 1;
    min-width: 15rem;
    padding: 1rem;
}

.orderedproduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.orderedproduct span:nth-child(1) {
    margin-left: 1rem;
}

.orderedproduct span:nth-child(2) {
    margin: 0 0.5rem;
}

.orderedproduct span:nth-child(4) {
    margin-left: 1rem;
}

.orderedproduct-image {
    width: 3.4rem;
    height: 3.4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.4rem;
}

.orderedproduct-done {
    font-size: 0.8rem;
    color: white;
    margin: 0 0.5rem;
    padding: 0.2rem 0.3rem;
    background-color: #038600;
    border-radius: 0.3rem;
}

.orderedproduct-setdone {
    font-size: 0.8rem;
    color: white;
    margin: 0 0.5rem 0 auto;
    padding: 0.2rem 0.3rem;
    background-color: #E4C102;
    border-radius: 0.3rem;
    cursor: pointer;
}

#orderedproduct-template {
    display: none;
}

.modal-sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal-sidebar span {
    display: block;
}

.reserver {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.reserver-name {
    margin-top: 0.5rem;
    font-weight: bold;
}

.reserver-email {
    font-size: 0.8rem;
}

.reservation-summary{
    margin-bottom: 2rem;
}

.reservation-total {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.finished-btn{
    border-radius: 5px;
    background-color: #E4C102;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid #E4C102;

}

.close-modal {
    position: fixed;
    bottom: 15vh;
    width: 80vw;
    text-align: center;
    color: #000;
    margin-bottom: -2rem;
    pointer-events: none;
}

.spinner {
    background-image: url("/img/loading.gif");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 100%;
  }