.inner-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 0;
}

.sidebar {
    width: 20vw;
    min-width: 15rem;
    border-right: 2px solid #E4C102;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.category {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    color: #E4C102;
    background-color: #242424;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}

.category.active {
    font-weight: bold;
    letter-spacing: 0.05rem;
    background-color: #181818;
}

.category:hover {
    background-color: #181818;
}

.category-new {
    cursor: auto;
}

.category-new input {
    font-size: 1.1rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #E4C102;
    color: #E4C102;
    padding: 0.3rem;
    width: 80%;
}

.category-action-create {
    background-image: url("/img/delete.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    transform: rotateZ(45deg);
    cursor: pointer;
}

.category-new input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

#category-template {
    display: none;
}

.category-action-edit {
    background-image: url("/img/delete.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
}

.edit-category {
    margin-top: auto;
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    color: #E4C102;
    background-color: #242424;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.edit-category img {
    height: 2.2rem;
    margin: 0 0.6rem;
}

.edit-category span {
    flex: 1;
    font-size: 1.2rem;
    padding: 0 1rem;
    user-select: none;
}

.main-content {
    flex: 1;
    height: 100%;
}

.main-content-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;
}

#main-content-title {
    padding: 0 1.5rem;
}

.create-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 11rem;
    background-color: #242424;
    border-right: 0.2rem;
    color: #E4C102;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}

.create-menu:hover {
    background-color: #181818;
}

.create-menu img {
    width: 2rem;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    overflow-y: scroll;
    padding: 0 1rem;
    max-height: calc(100% - 5rem);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 16rem;
    max-width: 16rem;
    min-height: 16rem;
    max-height: 16rem;
    margin: 1rem;
}

.product img {
    height: 9rem;
    background-color: #ddd;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.product-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.product-description h3 {
    color: #E4C102;
    font-weight: normal;
    padding-bottom: 1rem;
}

.product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-actions div {
    height: 2rem;
    width: 2rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product-action-edit {
    background-image: url("/img/edit.svg");
}

.product-action-delete {
    background-image: url("/img/delete.svg");
}

#product-template {
    display: none;
}

.alert {
    position: absolute;
    top: 2rem;
    width: 25vw;
    height: 3rem;
    left: 37.5vw;
    background-color: #bbefd7;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.25s ease-in-out;
}

.alert-close {
    font-size: 2rem;
    margin: 0;
    transform: translateY(-0.1rem);
    cursor: pointer;
}
