.inner-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
}

.inner-content h2 {
    color: #E4C102;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.panel {
    height: 15vh;
}

.panel .form {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    max-width: 30rem;
}

#generate-report-date {
    margin-bottom: 0.5rem;
    flex: 1;
    min-width: 12rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    outline: none;
    appearance: none;
    border: 2px solid #E4C102;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-image: url("/img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 1.2rem;
    cursor: pointer;
}

#generate-report {
    margin-bottom: 0.5rem;
    outline: none;
    border: 2px solid #E4C102;
    border-radius: 0.5rem;
    background: white;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

#generate-report:hover {
    background: #F9F7F0;
}

.list {
    flex: 1;
}

.orders {
    height: 50vh;
    overflow-y: auto;
    padding: 0 1rem;
}

#order-template {
    display: none;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 2px solid #E4C102;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.order-id {
    font-size: 2rem;
    border-right: 2px solid #E4C102;
    padding: 1rem;
}

.order-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-datetime {
    font-size: 1.1rem;
    padding-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.order-table-number {
    margin-left: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.order-table-number .table-number-label {
    font-size: 0.8rem;
}

.order-table-number .order-table-number-no {
    font-size: 2rem;
}

.order-detail-btn {
    padding: 1rem;
    border-left: 2px solid #E4C102;
}

.order-detail-btn a {
    display: block;
    height: 3rem;
}

.order-detail-btn img {
    width: 3rem;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.report-total {
    font-size: 2rem;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.order-detail .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.order-detail .modal {
    background-color: white;
    border: 2px solid #E4C102;
    border-radius: 1rem;
    margin: 4rem 2rem;
    min-width: 20rem;
    width: 80vw;
    min-height: 30rem;
    height: 70vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.order-detail .modal-header {
    border-bottom: 2px solid #E4C102;
    height: 15%;
}

.order-detail-summary {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    font-size: 1.2rem;
}

.order-detail-summary div:nth-child(1) {
    padding: 0 1rem;
}

.order-detail-summary div:nth-child(2) {
    padding: 0 1rem;
}

.order-detail-summary div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-detail-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.order-detail-table span {
    font-size: 0.9rem;
    text-align: center;
}

.order-detail-tablenum {
    font-size: 3rem !important;
}

.modal-body {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 0;
}

.modal-content {
    flex: 4;
    border: 2px solid #E4C102;
    min-width: 20rem;
    margin: -2px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% + 4px);
}

.modal-sidebar {
    flex: 1;
    min-width: 15rem;
    padding: 1rem;
}

.orderedproduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.orderedproduct span:nth-child(1) {
    margin-left: 1rem;
}

.orderedproduct span:nth-child(2) {
    margin: 0 0.5rem;
}

.orderedproduct span:nth-child(4) {
    margin-left: 1rem;
}

.orderedproduct-image {
    width: 3.4rem;
    height: 3.4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.4rem;
}

.orderedproduct-done {
    font-size: 0.8rem;
    color: white;
    margin: 0 0.5rem;
    padding: 0.2rem 0.3rem;
    background-color: #038600;
    border-radius: 0.3rem;
}

#orderedproduct-template {
    display: none;
}

.modal-sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal-sidebar span {
    display: block;
}

.reserver {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.reserver-name {
    margin-top: 0.5rem;
    font-weight: bold;
}

.reserver-email {
    font-size: 0.8rem;
}

.reservation-total {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.close-modal {
    position: fixed;
    bottom: 15vh;
    width: 80vw;
    text-align: center;
    color: #000;
    margin-bottom: -2rem;
    pointer-events: none;
}