.new-reservation-layout{
   display: flex;
   justify-content: flex-end;
   height: 10vh;
   padding: 1rem 0rem;
   margin: 0rem 2rem;
}
.new-reservation-btn{
    display: flex;
    align-items: center;
    border: 2px solid #E4C102;
    font-weight: bold;
    padding: 0.5rem 2rem;
    cursor: pointer;
}
.plus{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.reservation-statuses{
    z-index: 99;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.status-label{
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    min-width: 33%;
    font-size: 1.2rem;
    cursor: pointer;
}
.status-active{
    background-color: #242424;
    color: #E4C102;
}

.overflow{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 70vh;
}

.reservation-data-list{
    overflow-y: auto;
    height: 70vh;
    padding: 2rem 2rem;
    width: 100%;
}


.reservation-data-item{
    display: flex;
    border: 2px solid #E4C102;
    margin-bottom: 2rem;
    height: 10vh;
    align-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: #F9F7F0;
}

.reservation-item-id{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 10%;
    border-right: 2px solid #E4C102;
    font-size: 2rem;
}
.reservation-item-detail{
    align-items: center;
    display: flex;
    flex-grow: 8;
    margin: 1rem 2rem;
    margin-right: 0rem;
    width: 80%;
    border-right: 2px solid #E4C102;
}

.date-time{
    flex-grow: 9;
    width: 90%;
    font-size: 1.2rem;
}
.table-number{
    text-align: center;
    align-content: flex-end;
    flex-grow: 2;
    width: 20%;
}
.table-number-no{
    font-size: 2rem;
}

.reservation-item-detail-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 10%;
}

/* Reservation Detail */

.reservation-detail{    
    position: absolute;
    transform: translateX(101%);
    top: 0;
    left: 0;
    z-index: 2;
    height: 70vh;
    padding: 2rem 2rem;
    background: white;
    width: 100%;
    height: auto;
}
.layout{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #E4C102;
    width: 100%;
    border-radius: 10px;
}
.reservation-detail-data{
    display: flex;
    flex: 10 10 100%;
    width: 100%;
    border-bottom: 2px solid #E4C102;
}

.orders-list{
    height: 50vh;
    width: 70%;
    padding: 1rem 2rem;
    overflow-y: auto;
    border-right: 2px solid #E4C102;
}
.order-item{
    font-size: 1.2rem;
    display: flex;
    min-height: 5vh;
    align-items: center;
}
.item-image{
    width: 6rem;
    object-fit: cover;
    border-radius: 10px;
    margin: 1rem;
    height: 6rem;
}

.order-detail{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem;
}
.user-label{
    font-size: 1.2rem;
}
.fullName{
    font-size: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.order-total p{
    font-size: 1rem;
}
.order-total p span{
    font-weight: bold;
}

.btn-group{
    display: flex;
    flex-direction: column;
}

.btn-group button{
    border-radius: 5px;
    padding: 1rem
}

.approve-btn{
    margin-bottom: 1rem;
    color: #038600;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 2px solid #038600;
}

.cancel-btn{
    margin-bottom: 1rem;
    color: #C30000;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 2px solid #C30000;
}

.dining-btn{
    margin-bottom: 1rem;
    background-color: #E4C102;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid #E4C102;
}

.spinner {
    background-image: url("/img/loading.gif");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 100%;
  }