<div class="component-base">
    <div class="header">
        <div class="header-menu">
            <div></div>
        </div>
        <h2 class="header-title"></h2>
        <div class="header-logo"></div>
    </div>
    <div class="navbar">
        <div class="navbar-close"></div>
        <div class="navbar-menus">
            <a class="navbar-nav" href="/reservation">
                <img src="/img/navbar/reservation.svg">
                <span>Reservation List</span>
            </a>
            <a class="navbar-nav" href="/products">
                <img src="/img/navbar/product.svg">
                <span>Products</span>
            </a>
            <a class="navbar-nav" href="/order">
                <img src="/img/navbar/order.svg">
                <span>Order List</span>
            </a>
            <a class="navbar-nav" href="/layout">
                <img src="/img/navbar/layout.svg">
                <span>Table Layout</span>
            </a>
            <a class="navbar-nav" href="/banners">
                <img src="/img/navbar/banner.svg">
                <span>Banners</span>
            </a>
            <a class="navbar-nav" href="/report">
                <img src="/img/navbar/report.svg">
                <span>Daily Report</span>
            </a>
            <a class="navbar-nav" href="/admins">
                <img src="/img/navbar/admin.svg">
                <span>Manage Admins</span>
            </a>
        </div>
        <div class="navbar-end">
            <img src="/img/navbar/logout.svg">
            <span>Logout</span>
        </div>
    </div>
</div>